<!DOCTYPE html>
<head>
  <title>My Chat AI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='xiaobai.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='xiaobai.png') }}" class="icon" />
  <h3>My Chat AI</h3>
  <form action="/chat" method="post">
    <input type="text" name="prompt" placeholder="Say something ..." required />
    <input type="submit" value="Chat!" />
  </form>
  <form action="/image" method="post" class="form">
    <input type="text" name="prompt" placeholder="Describe a picture ..." required />
    <input type="submit" value="Generate!" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
  {% if url %}
  <div class="image">
    <img src="{{ url }}" />
  </div>
  {% endif %}
</body>
